<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Pagina</title>
</head>
<body>
	<div style="width:100%;">
		<div style="width: 75%;">
			<table>
				<thead>
					<th>ID:</th>
					<th>Campo:</th>
					{% if content.database %}
						<th>Acciones</th>
					{% endif %}
				</thead>
				<tbody>
					{% for e in content.elements %}
						<tr>
							<td>
								{{e.id}}
							</td>
							<td>
								{{e.campo}}
							</td>
							{% if content.database %}
								<td>
									<form method="POST" action="{{url_for('deleteEntry', database=content.database, entryId=e.id)}}">
										<input type="submit" value="borrar">
									</form>
									<form method="GET" action="{{url_for('updateEntry', database=content.database, entryId=e.id)}}">
										<input type="submit" value="actualizar">
									</form>
								</td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div style="width: 25%;">
			<form action="/post" method="POST">
				<label>Campo:</label>
				<input type="text" name="campo" required>
				<input type="submit" value="Enviar">
			</form>
		</div>
	</div>
</body>
</html>